<section class="hero is-primary">
  <div class="hero-head">
  <nav class="main-nav nav has-shadow">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item"> <i class="fa fa-cubes fa-3" aria-hidden="true"></i> </a>
      </div>
    
      <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
      <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <!-- This "nav-menu" is hidden on mobile -->
      <!-- Add the modifier "is-active" to display it on mobile -->
      <div class="nav-right nav-menu">
        <a class="nav-item"> Home </a>
        <a class="nav-item"> Tools </a>
        <a class="nav-item"> API </a>
        <a class="nav-item">
            <span class="icon"> <i class="fa fa-github"></i> </span>
          </a>
          <a class="nav-item">
            <span class="icon"> <i class="fa fa-twitter"></i> </span>
          </a>       
      </div>
  </div>
  </nav>
  </div>
</section>
